.advantages {
  padding-top: 94px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages-list>.item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.advantages-tex {
  color: var(--basic-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/* beefore */
.beefore {
  background-repeat: no-repeat;
  background-position: center;
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.advantages-1 {
  background-image: url(../../web-studia/antenna.jpg);
}

.advantages-2 {
  background-image: url(../../web-studia/clock.png);
}

.advantages-3 {
  background-image: url(../../web-studia/diagram.png);
}

.advantages-4 {
  background-image: url(../../web-studia/astronaut.png);
}