.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  z-index: 999;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  max-width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--minor-color);

  margin-bottom: 12px;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 8px;
  top: 8px;
  padding: 5px;

  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  border-color: var(--accent-color);
}

.modal-icon {
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-position:focus-within .modal-icon {
  fill: var(--accent-color);
}

.modal-icon-close:hover,
.modal-icon-close:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-bottom: 20px;
}

.form-label {
  display: flex;
  margin-bottom: 4px;
  color: var(--basic-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-position {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 43px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within {
  border-color: var(--accent-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.feedback {
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback:focus-within {
  border: 1px solid var(--accent-color);
}

.feedback::placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-box {
  display: flex;
  align-items: center;
}

.form-checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 7px;
}

.form-tex {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--basic-color);
}

.form-link {
  color: var(--accent-color);
}

.modal-submit {
  border-radius: 4px;
  padding: 10px 57px;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  border: none;

  display: flex;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: #7dbdf2;
}